@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: steelblue;
    width: 300px;
    height: 200px;
    margin: 1rem;
    position: relative;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
}

.content {
    background-color: #030303;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    padding: 2rem;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    color: #fff;
}

.container:hover .content {
    transform: translateY(0%);
}
