@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #2B88F0;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* untuk membuat di tegah harus mempunyai tinggi */
    margin: 0;
    overflow: hidden;
}

h3 {
    color: #fff;
}
.container {
    width: 300px;
}

#textarea {
    width: 100%;
    height: 100px;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    border: none;
    outline: none;
}

#tags {
    margin: 10px 5px;
    width: 300px;
    height: 100%;
}
.tag {
    background-color: #da9e2f;
    color: #fff;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 14px;
    margin: 4px 5px;
    display: inline-block;
}

.highlight {
    background-color: darkslateblue;
    color: #fff;
}